In [8]:
# Import Dependencies
import pandas as pd

In [14]:
# Create reference to CSV file
csv_path = "Resources/Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)
soccer_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,CM,45.0,46.0,47.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [11]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df["Preferred Position"].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [15]:
# Looking only at strikers (ST) to start
soccer_2018_df=soccer_2018_df.loc[soccer_2018_df["Preferred Position"]=='CM',:]
soccer_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
33,N. Kanté,26,France,87,90,Chelsea,CM,78.0,81.0,84.0,...,82.0,81.0,81.0,84.0,76.0,78.0,72.0,76.0,83.0,72.0
37,A. Vidal,30,Chile,87,87,FC Bayern Munich,CM,81.0,84.0,85.0,...,83.0,84.0,83.0,85.0,81.0,80.0,81.0,80.0,83.0,81.0
40,M. Hamšík,29,Slovakia,87,87,Napoli,CM,85.0,71.0,77.0,...,75.0,71.0,85.0,77.0,84.0,83.0,81.0,83.0,77.0,81.0
41,I. Rakitić,29,Croatia,87,87,FC Barcelona,CM,83.0,64.0,74.0,...,69.0,64.0,84.0,74.0,82.0,82.0,78.0,81.0,72.0,78.0
49,D. Alaba,25,Austria,86,88,FC Bayern Munich,CM,80.0,80.0,82.0,...,83.0,80.0,81.0,82.0,79.0,81.0,77.0,80.0,84.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,CM,46.0,43.0,46.0,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,CM,46.0,47.0,47.0,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17973,T. Sawyer,18,England,46,58,Grimsby Town,CM,46.0,42.0,43.0,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,CM,44.0,38.0,42.0,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,CM,45.0,46.0,47.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0

In [17]:
# Sort the DataFrame by the values in the "ST" column to find the worst
soccer_2018_df=soccer_2018_df.sort_values("CM")
# Reset the index so that the index is now based on the sorting locations
soccer_2018_df=soccer_2018_df.reset_index(drop=True)
soccer_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,B. Wilmot,17,England,49,64,Stevenage,CM,34.0,48.0,44.0,...,46.0,48.0,36.0,44.0,35.0,37.0,38.0,35.0,45.0,38.0
1,L. Grace,24,Republic of Ireland,57,65,Shamrock Rovers,CM,37.0,56.0,50.0,...,50.0,56.0,40.0,50.0,37.0,38.0,40.0,37.0,48.0,40.0
2,V. Ocampo,24,Colombia,55,62,Deportes Tolima,CM,38.0,54.0,50.0,...,53.0,54.0,41.0,50.0,37.0,40.0,37.0,38.0,52.0,37.0
3,R. Gelmi,22,Switzerland,62,72,FC Thun,CM,39.0,61.0,53.0,...,59.0,61.0,41.0,53.0,42.0,43.0,47.0,42.0,56.0,47.0
4,G. Cleur,19,Australia,54,67,Virtus Entella,CM,43.0,51.0,46.0,...,53.0,51.0,41.0,46.0,44.0,46.0,43.0,47.0,51.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1972,E. Banega,29,Argentina,83,83,Sevilla FC,CM,81.0,66.0,75.0,...,70.0,66.0,81.0,75.0,78.0,79.0,71.0,79.0,73.0,71.0
1973,N. Kanté,26,France,87,90,Chelsea,CM,78.0,81.0,84.0,...,82.0,81.0,81.0,84.0,76.0,78.0,72.0,76.0,83.0,72.0
1974,A. Vidal,30,Chile,87,87,FC Bayern Munich,CM,81.0,84.0,85.0,...,83.0,84.0,83.0,85.0,81.0,80.0,81.0,80.0,83.0,81.0
1975,I. Rakitić,29,Croatia,87,87,FC Barcelona,CM,83.0,64.0,74.0,...,69.0,64.0,84.0,74.0,82.0,82.0,78.0,81.0,72.0,78.0
1976,M. Hamšík,29,Slovakia,87,87,Napoli,CM,85.0,71.0,77.0,...,75.0,71.0,85.0,77.0,84.0,83.0,81.0,83.0,77.0,81.0

In [19]:
# Save all of the information collected on the worst striker
worst_cm=soccer_2018_df.loc[0,:]
worst_cm

Name                  B. Wilmot
Age                          17
Nationality             England
Overall                      49
Potential                    64
Club                  Stevenage
Preferred Position           CM
CAM                          34
CB                           48
CDM                          44
CF                           35
CM                           36
LAM                          34
LB                           46
LCB                          48
LCM                          36
LDM                          44
LF                           35
LM                           37
LS                           38
LW                           35
LWB                          45
RAM                          34
RB                           46
RCB                          48
RCM                          36
RDM                          44
RF                           35
RM                           37
RS                           38
RW                           35
RWB                          45
ST                           38
Name: 0, dtype: object