In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
books_c = "Resources/books_clean.csv"
# Read the modified GoodReads csv and store into Pandas DataFrame
books_c_df=pd.read_csv(books_c)

In [6]:
# Calculate the number of unique authors in the DataFrame
uni=books_c_df["Authors"].nunique()
uni

4664

In [15]:
# Calculate the earliest/latest year a book was published
earliest=int(books_c_df["Publication Year"].min())
earliest

-1750

In [16]:
# Calculate the earliest/latest year a book was published
latest=int(books_c_df["Publication Year"].max())
latest

2017

In [8]:
# Calculate the total reviews for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row
one_star=books_c_df["One Star Reviews"].sum()
one_star

13450406

In [9]:
#2 stars
two_star=books_c_df["Two Star Reviews"].sum()
two_star

31108850

In [10]:
#3 stars
three_star=books_c_df["Three Star Reviews"].sum()
three_star

114758938

In [11]:
#4 stars
four_star=books_c_df["Four Star Reviews"].sum()
four_star

199656966

In [12]:
#5 stars
five_star=books_c_df["Five Star Reviews"].sum()
five_star

237898056

In [13]:
#total reviews
total=[one_star,two_star,three_star,four_star,five_star]
tot=sum(total)
tot

596873216

In [19]:
# Place all of the data found into a summary DataFrame
summary_df=pd.DataFrame([{"Total of reviews":tot,
                          "Earliest year":earliest,
                          "Latest year":latest,
                          "Unique Authors":uni}])
                         
summary_df

   Total of reviews  Earliest year  Latest year  Unique Authors
0         596873216          -1750         2017            4664